@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#content {
    width: 308px;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
}

#content img {
    width: 80px;
    padding: 32px 0 24px 0;
}

#content h1 {
    margin-top: 60px;

    color: #333;

    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

#content form {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: white;

    border: 1px solid #d8dee2;
    border-radius: 5px;
}

#content form label {
    margin-bottom: 7px;

    font-size: 14px;
    font-weight: bold;
}

#content form .required:after {
    padding-left: 5px;

    color: #cb2431;
    content: '*';
}

#content form input {
    padding: 5px 12px;
    margin: 0 0 16px;

    line-height: 20px;

    border: 1px solid #e1e4e8;
    border-radius: 6px;
}

#submit {
    padding: 5px 16px;
    margin: 0 !important;

    color: white;
    background-color: var(--unt-green);

    cursor: pointer;
}

.additional-item {
    width: 100%;
    margin: 16px 0px 10px 0;
    padding: 15px 20px;

    font-size: 14px;
    text-align: center;

    border: 1px solid #d8dee2;
    border-radius: 5px;
}

.additional-item a {
    text-decoration: none;
}

.additional-item a:hover {
    text-decoration: underline;
}

.additional-item a:visited {
    color: blue;
}

.orderSummary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.orderSumChild{
    flex:5;
    text-align: left;
}
.orderSumChild1{
    flex:1;
    text-align: left;
    align-items: flex-end;
}
.option{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.credit{
    flex:1;
    
}
.cash{
    flex:1;
}
span#creditCard{
    
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    

    font-family: 'Montserrat', sans-serif;
}

p#cash{
    display:none;
    text-align: center;
    
}
p#opener{
    font-weight: bold;
    text-align: center;
}

#orderSummary{
    display:none;
}