#content {
    position: relative;

	width: 80%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	font-family: 'Montserrat', sans-serif;
}

#delivery-method {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FCFCFC;
}

#delivery-method h1 {
    text-align: center;
}

#delivery-method .option {
    height: 40%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#delivery-method .option button {
    margin: 1.25rem;

    width: 50%;
    height: calc(100% - 1.25rem);

    color: white;
    background-color: var(--unt-green);

    border: none;
    border-radius: 1rem;

    font-size: 1.5rem;

    transition: background-color .2s;
}

#delivery-method .option button:hover {
    cursor: pointer;
    background-color: var(--unt-green-light);
}

.menu-navbar {
	margin-top: 3rem;
	box-shadow: none;
}

.menu-navbar button:hover {
	box-shadow: inset 0 -5px 0 0 #555;
}

.menu-navbar button.active {
	box-shadow: inset 0 -5px 0 0 #333 !important;
}

.menu-item {
	margin: 30px;

	/* size of menu-item-banner.png */
	width: 330px;
	height: 370px;

    /* don't display menu-item by default */
    /* must be enabled in JS */
	display: none;
	flex-direction: column;

	background-image: url('../img/menu-item-banner.png');

	/* custom css properties */
	--banner-border-size: 30px;
}

.menu-item img {
	margin: var(--banner-border-size) var(--banner-border-size) 0 var(--banner-border-size);

	width: calc(100% - var(--banner-border-size) * 2);
	height: calc(100% - var(--banner-border-size) * 4 - 60px);

    object-fit: cover;
}

.menu-item-details {
	margin: 0 var(--banner-border-size) 0 var(--banner-border-size);

	width: calc(100% - var(--banner-border-size) * 2);

	display: flex;
	justify-content: space-between;

	color: #FCFCFC;
}

.menu-item-details h2 {
	margin: 0;

	height: 50px;

	font-size: 20px;
	line-height: 50px;
	text-decoration: underline;
}

.menu-item-details p {
	margin: 0;

	height: 50px;

	font-size: 20px;
	line-height: 50px;
	text-align: right;
}

.menu-item button {
	margin: 0 var(--banner-border-size) 0 var(--banner-border-size);

	width: calc(100% - var(--banner-border-size) * 2);
	height: 30px;

	font-size: 15px;
	font-weight: bold;
	line-height: 30px;

	text-transform: uppercase;

	color: var(--unt-green);
	background-color: #FCFCFC;

	border-radius: 20px;

	border: none;

	cursor: pointer;
}

.menu-item button:hover {
	text-decoration: underline;
}

/* customizer popup */
#customizer {
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	display: none;

	/* 60% opacity black used here so  */
	/* options panel have full opacity */
	background-color: rgba(0, 0, 0, 0.6);

	z-index: 999;
}

/* control panel */
#option-panel {
	position: absolute;

	top: 10vh;
	left: calc(33vw / 2);

	width: 66vw;

	background-color: white;
}

#close-button {
	position: absolute;
	top: .2em;
	right: .2em;

	height: 1.1em;
	width: 1.1em;

	color: var(--unt-green);
	background-color: #FCFCFC;

	border: none;
	border-radius: 50%;

	font-size: 1.5em;
	line-height: 1.1em;

	transform: rotate(45deg);

	cursor: pointer;
}

/* title of option panel */
#option-panel h1 {
	margin: 0;

	width: 100%;
	height: 2em;

	color: #FCFCFC;
	background-color: var(--unt-green);

	text-align: center;
	line-height: 2em;
}

/* underlined food name */
#option-panel h1 span {
	text-decoration: underline;
}

/* amount names (none, lite, reg, xtra) */
#option-panel .option-labels {
	padding-right: 50%;

	display: inline-flex;

	width: 50%;
	height: 38px;

	background-color: #eee;

	line-height: 38px;
}

#option-panel .option-labels p {
	margin: 0;

	width: 25%;

	text-align: center;
	text-transform: capitalize;
}

/* each option (tomatoes, onions, etc) */
#option-panel .options .option {
	height: 38px;

	display: flex;
	justify-content: space-around;
}

#option-panel .options .option p {
	margin: 0;

	height: 38px;
	width: 50%;

	text-align: center;
	line-height: 38px;
	text-transform: capitalize;
}

/* contrast adjacent rows */
#option-panel .options .option:nth-of-type(odd) {
	background-color: #eee;
}

/* horizontal seperator between options and submit button */
#option-panel .options .option:last-of-type {
	box-shadow: 0 1px 0 #e1e4e8;
}

/* submit button */
#option-panel [type='submit'] {
	margin: 8px 10%;

	width: 80%;
	height: 32px;

	color: #FCFCFC;
	background-color: var(--unt-green);

	border: none;
	border-radius: 6px;

	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;

	cursor: pointer;
}

/* Custom Styled Radio Buttons =============== */
/* When a label for a radio button is clicked, */
/* it acts is if you clicked the radio button  */
/* itself. So, if we draw a new radio button   */
/* using '::before' and '::after' pseudo-	   */
/* elements positioned on the radio button	   */
/* labels, these styled pseudo-elements can	   */
/* act as the radio buttons themselves		   */
.option-selection {
	position: relative;

	height: 38px;
	width: 50%;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* Move original button off screen */
.option-selection [type='radio']:checked,
.option-selection [type='radio']:not(:checked) {
	position: absolute;

	left: -9999px;
}

.option-selection [type='radio']:checked + label,
.option-selection [type='radio']:not(:checked) + label {
	position: relative;

	height: 20px;
	width: 25%;
	display: inline-block;

	line-height: 20px;

	color: #666;

	cursor: pointer;
}

.option-selection [type='radio']:checked + label::before,
.option-selection [type='radio']:not(:checked) + label::before {
	position: absolute;
	left: calc(50% - 10px);
	top: 0;

	width: 18px;
	height: 18px;

	content: '';

	border: 1px solid #e1e4e8;
	border-radius: 100%;

	background-color: #FCFCFC;
}

.option-selection [type='radio']:checked + label::after,
.option-selection [type='radio']:not(:checked) + label::after {
	position: absolute;
	left: calc(50% - 10px + 3px);
	top: 3px;

	width: 14px;
	height: 14px;

	content: '';

	border-radius: 100%;

	background-color: var(--unt-green);

	transition: all 0.2s ease;
}

.option-selection [type='radio']:not(:checked) + label::after {
	opacity: 0;
	transform: scale(0);
}

.option-selection [type='radio']:checked + label::after {
	opacity: 1;
	transform: scale(1);
}
