{% extends "form.html" %}

{% block header %}Account Information{% endblock %}

{% block dest %}account{% endblock %}

{% block submit_text %}Save Information{% endblock %}

{% block form_items %}
    <label for="name">Full Name</label>
    <input id="name" type="text" value="{{ user.name }}" required autocapitalize="off" autocorrect="off">

    <label for="email">Email</label>
    <input id="email" type="email" value={{ user.email }} required autocapitalize="off" autocorrect="off">

    <label for="phone">Phone</label>
    <input id="phone" type="tel" pattern="[0-9]{10}" value={{ user.phone }} required autocapitalize="off" autocorrect="off">

    <h2>Change password:</h2>
    <hr>

    <label for="old-password">Old Password</label>
    <input id="old-password" type="password" placeholder="old password" minlength=8>

    <label for="new-password">New Password</label>
    <input id="new-password" type="password" placeholder="new password" minlength=8>

    <label for="confirm-password">Confirm New Password</label>
    <input id="confirm-password" type="password" placeholder="confirm new password" minlength=8>
{% endblock %}

{% block additional_items %}
    <script src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}
