{% extends "layout.html" %}

{% block content %}

<link href="{{ url_for('static', filename='css/cart.css') }}" rel="stylesheet">
	<div>
        <h1>My Order</h1> 
    </div>
    <div>
        <h2>Store: EagleEats 2121 W. Hickory St. Denton, TX 76201</h2>
    </div>
    <div class = topButtons>
        <button class =topButton onclick="location.href='/menu'">Add More Food</button>
        <button class =topButton onclick="location.href='/menu'">Add More Food</button>
    </div>
    <div class ="parent">
        <div class= "orderName"> 
            <h3> Mean Green Sloppy Joe</h3>
        </div>
        <div class = "orderItem">     
          <div class ="orderImg">
             <img src ='static/img/burger.jpg' alt="Burger" class = "burger">
             <h4 class ="orderDesc"> Mean Green Sloppy Joe w/ fries and Drink </h4>
          </div>
        <div class ="orderPrice">
            <h4> $4.99</h4>
        </div>
        </div>
    <div class = "orderItem">     
        <div class ="orderImg">
            <img src ='static/img/burger.jpg' alt="Burger" class = "burger">
            <h4 class ="orderDesc"> Mean Green Sloppy Joe w/ fries and Drink </h4>
        </div>
        <div class ="orderPrice">
            <h4> $4.99</h4>
        </div>
    </div>
    <hr>
    <div class ="columns">
    <div class="prices"> 
        <div class = "subtotal">
            <h4>Subtotal</h4>
        </div>
        <div class= "subtotalPrice">
            <h4>$4.99</h4>
        </div>
    </div>
    <div class="prices"> 
        <div class = "subtotal">
            <h4>Tax</h4>
        </div>
        <div class= "subtotalPrice">
            <h4>$0.42</h4>
        </div>
    </div>
    <div class="prices"> 
        <div class = "subtotal">
            <h4>Total</h4>
        </div>
        <div class= "subtotalPrice">
            <h4>$5.41</h4>
        </div>
    </div>
    </div>
    </div> 
    
{% endblock %}