{% extends "layout.html" %}

{% block content %}
<link href="{{ url_for('static', filename='css/confirmation_page.css') }}" rel="stylesheet">
<div class = "left">
  <h1>Thank you for your order</h1>
  <ul style= "list-style:none;">
    <li>Order Number{{ order.order_num }}</li>
    <li>Phone Number<p>{{ user.phone }}</p></li>
    <li>Customer<p>{{ user.name }}</p></li>
  </ul>
</div>
<div class = "right">
  <h1>Order Summary</h1>
  <ul style= "list-style:none;">
    <li>Subtotal<p>{{ orderAmount.subTotal }}</p></li>
    <li>Shipping<p>Free Delivery</p></li>
    <li>Discounts<p>None</p></li>
    <li>Tax{{ orderAmount.salesTax }}</li>
    <li>Order Total{{ orderAmount.total }}</li>
  </ul>

  <h2>Items Ordered</h2>
  {% for item in cart_item %}
  <ul style= "list-style:none;">
    <li>{{ item.name }}</li>
  </ul>
  {% endfor %}
</div>
{% endblock %}
