{% extends "layout.html" %}

{% block content %}
<link href="{{ url_for('static', filename='css/confirmation_page.css') }}" rel="stylesheet">
<div class = "left">
  <h1>Thank you for your order</h1>
  <ul style= "list-style:none;">
    <li>Phone Number<p>{{ user.phone }}</p></li>
    <li>E-Mail<p>{{ user.email }}</p></li>
    <li>Customer<p>{{ user.name }}</p></li>
    <li>Order Number<p>{{ (order.id|string).rjust(8, '0') }}</p></li>
  </ul>
  <a href="/tracker/{{ (order.id|string).rjust(8, '0') }}" style="text-align: center; color: var(--unt-green); text-decoration:none;"><h3>Order Tracker</h3></a>
</div>
<div class = "right">
  <h1>Order Summary</h1>
  <ul style= "list-style:none;">
  {% for item in items %}
    <li><p>{{ item.name }}</p></li>
  {% endfor %}
  </ul>
  <ul style= "list-style:none;">
	  <li>Order Total<p>${{ '{:0<2.2f}'.format(orderAmount) }}</p></li>
  </ul>
</div>
{% endblock %}
