<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/layout.css">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Eagles Eat</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
	</head>
	<body>
		{% block body %}{% endblock %}
		<div class="footer">
				<div class="footerelements">
					<div class="logo">
						<img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/North_Texas_Mean_Green_logo.svg/1200px-North_Texas_Mean_Green_logo.svg.png" alt="UNT Eagles">
					</div>
					<div class="item">
						<h1>About Us</h1>
						<p>EaglesEats was the brainchild of hardworking and starving College students who find themselves too lazy to get their own food.</p>
					</div>
					<div class="item">
						<h1>Contact Us</h1>
						<p>e-mail: Student@my.unt.edu</p>
						<p>Phone: xxx-xxx-xxxx</p>
					</div>
					<div class="item">
						<h1>Follow Us</h1>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					</div>
			</div>
		</div>
	</body>
</html>
