{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <h1>{% block title %}Log in to Eagle Eats{% endblock %}</h1>
    <form action="/{% block dest %}login{% endblock %}" method="post">
        {% block form_items %}
            <label for="name">Name</label>
            <input id="name" type="text" name="name" autocapitalize="on" autocorrect="off">

            <label for="email">Email</label>
            <input id="email" type="email" name="email" autocapitalize="off" autocorrect="off">
        {% endblock %}
        <input id="submit" type="submit" value="{% block submit_text %}Log In{% endblock %}">
    </form>

    {% block additional_items %}
        <p id="register-prompt">
            New to EagleEats? <a href="/signup" rel="noopener noreferrer">Create an account</a>.
        </p>
    {% endblock %}
{% endblock %}
