{% extends "layout.html" %}

<!-- style block with '#content' -->
{% block content %}
	<link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
    <!-- Category Navbar -->
    <div class="navbar menu-navbar">
        <button id="entree-button" onclick="changeCategory('entree')">Entrees</button>
        <button id="side-button" onclick="changeCategory('side')">Sides</button>
        <button id="dessert-button" onclick="changeCategory('dessert')">Desserts</button>
        <button id="drink-button" onclick="changeCategory('drink')">Drinks</button>
    </div>
	{% for item in menu_items %}
        <div class="menu-item {{ item.category }}">
			<img src="{{ url_for('static', filename='img/' + item.img) }}" alt="">
			<div class="menu-item-details">
				<h2>{{ item.name }}</h2>
				<p>${{ item.price }}</p>
			</div>
			<button onclick="buildCustomizer('{{ item.name }}', {{ item.options }})">Customize</button>
		</div>
	{% endfor %}
	<div id="customizer">
		<div id="option-panel">
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}
