{% extends "layout.html" %}

<!-- style block with '#content' -->
{% block content %}
	<link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
    {% for item in menu_items %}
        <div class="menu-item">
            <img src="{{ url_for('static', filename='img/' + item.img) }}" alt="">
            <div class="menu-item-details">
                <h2>{{ item.name }}</h2>
                <p>${{ item.price }}</p>
            </div>
            <button>Customize</button>
        </div>
    {% endfor %}
{% endblock %}
