<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
  </head>

  <body>
    <h1 style="color:#00853E; text-align:center;">THANK YOU FOR REGISTERING WITH US</h1>
    <h3 style="text-align:center; ">
      Congratulations on making the incredible decision to sign up with us at EagleEats!
    </h3>
    <p style="text-align:center; ">
      We are here to improve your overall experience at our restaurant and have developed our new site to make getting your favorite foods that much easier.
    </p>
    <h3 style="text-align:center; padding-top: 40px">
      Checkout our Website to see the Menu!
    </h3>
    <h1 style="color:#00853E; text-decoration:none; text-align:center;padding-top:10px;">EagleEats</h1>
  </body>
</html>
