{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tracker.css') }}">
    {% if order is not none %}
        <div id="status">
            <h1>Order #{{ (order.id|string).rjust(8, '0') }}</h1>
            {% if order.status == 'received' %}
                <h2>
                    Your order has been received and<br>
                    will be prepared soon.
                </h2>
                <i class="fa fa-home" aria-hidden="true"></i>
            {% elif order.status == 'cooking' %}
                <h2>Your order is being prepared!</h2>
                {% if order.delivery_method == 'takeout' %}
                    Estimated pickup time: <strong>{{ expected_time }}</strong>
                {% endif %}
                <i class="fa fa-cutlery" aria-hidden="true"></i>
            {% elif order.status == 'ready' %}
                {% if order.delivery_method == 'delivery' %}
                    <h2>
                        Your food is on it's way!
                    </h2>
                    <i class="fa fa-car" aria-hidden="true"></i>
                {% else %}
                    <h2>
                        Your food is ready for pickup!
                    </h2>
                    <p>
                        Give us a ring at 022-713-7645 once you're here!
                    </p>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                {% endif %}
            {% else %}
                <h2>Your order has been completed!</h2>
                <i class="fa fa-check" aria-hidden="true"></i>
            {% endif %}
        </div>
        <div id="progress-bar">
            <div id="progress-base">
                <div class="joiner stage2"></div>
                <div class="joiner stage3"></div>
                <div class="joiner stage4"></div>
            </div>
            <div id="labels">
                <div class="label stage1">Received</div>
                <div class="label stage2">Cooking</div>
                <div class="label stage3">
                    {% if order.delivery_method == 'takeout' %}
                        Ready
                    {% else %}
                        On the Way
                    {% endif %}
                </div>
                <div class="label stage4">Complete</div>
            </div>
            <div id="stages">
                <div class="stage stage1"></div>
                <div class="stage stage2"></div>
                <div class="stage stage3"></div>
                <div class="stage stage4"></div>
            </div>
        </div>
        <div id="order-details">
            <h3>Your order:</h3>
            <ul>
                {% for item in items %}
                    <li>
                        {{ item.name }}
                        {% if item.mods is not none %}
                            <ul>
                                {% for mod in item.mods %}
                                    <li>{{ mod }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    <script src="{{ url_for('static', filename='js/tracker.js') }}"></script>

    <!-- set stage on window load -->
    <script>
        window.onload = setStage('{{ order.status }}');
    </script>
    {% else %}
        <div id="not-found">
            <i class="fa fa-question-circle"></i>
            <h2>Order #{{ attempted_id.rjust(8, '0') }}</h2>
            <p>Sorry, we couldn't find an order with that ID!</p>
            <a href="/menu" rel="noopener noreferrer">Return to Menu</a>
        </div>
    {% endif %}
{% endblock %}
